#title {
  text-align: center;
}

#lists_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#lists_container > div {
  flex-basis: 25%;
}

#schools_container {
  border: 1px solid;
  padding: 3rem;
}

#archetypes_container {
  border: 1px solid;
  padding: 3rem;
}

#archetypes_container > ul {
  columns: 2;
}

#details_container {
  margin: 3rem 12rem 0rem;
  border: 1px solid;
  padding: 1rem;
}

#message {
  text-align: center;
}

li {
  cursor: pointer;
}
